<%
parent_id = params[:parent_id]
field = params[:field]
keyWord = params[:keyword]
%>
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/custome.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquerymobile.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/jquery.mobile-1.3.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    </head>
    <body>
        <div data-role="page" id="book_req_from">
            <script>
                var j=jQuery.noConflict();
                j(document).ready(function(){
                    var parent_id = j("#parent_id").val();
                    var field = j("#field").val();
                    var keyword =  j("#keyword").val();
                    j("#catalog_list_accordion").html("<img src='/images/load2.gif'>");
                    var random_source = '<ul data-role="listview" data-inset="true" id="catalog_item_list">';
                    j.ajax({
                        url: "/my_deals/book_search",
                        dataType: 'json',
                        timeout: 20000,
                        data:{q:keyword,cat:field},
                        success: function(json)
                        {	
                            var book_count = 0;
                            var random_source = '<ul data-role="listview" data-inset="true" id="catalog_item_list">';
                            j.each(json.Books, function(i, data){
                                if(data.isbn != null){
                                    random_source += '</li>';
                                    if(data.volume_info.imageLinks == undefined)
                                        random_source +=   '<table style="border-bottom: 1px dotted black;    margin-top: 1%;width: 100%;margin-left: -2%;float: left;"><tbody><tr><td rowspan="2"><img src="/images/no_book_cover.jpg" height="100" width="60" style="float: left;margin-left: 1%;"></td><td colspan="3" style="color: black;">'+data.title+ '  By  ' +data.authors+'<input type="hidden" name='+data.isbn+' id='+data.isbn+' /><input type="hidden" name='+data.title+' id='+data.title+' /></td></tr><tr><td align="right"><a href="postreq_book?isbn='+data.isbn+'" rel="external"><img src="/images/post_req.png"/></a></td></tr></tbody></table>';            
                                    else
                                        random_source +=   '<table style="border-bottom: 1px dotted black;    margin-top: 1%;width: 100%;margin-left: -2%;float: left;"><tbody><tr><td rowspan="2"><img src="'+data.volume_info.imageLinks.smallThumbnail+'" height="100" width="60" style="float: left;margin-left: 1%;"></td><td colspan="3" style="color: black;">'+data.title+ '  By  ' +data.authors+'<input type="hidden" name='+data.isbn+' id='+data.isbn+' /><input type="hidden" name='+data.title+' id='+data.title+' /></td></tr><tr><td align="right"><a href="postreq_book?isbn='+data.isbn+'" rel="external"><img src="/images/post_req.png"/></a></td></tr></tbody></table>';            
                                    book_count = book_count + 1;
                                }
                            });
                            if (book_count == 0){
                                random_source += "No Books matching your search query."  
                            }
                            random_source += '</ul>';
                            j("#catalog_list_accordion").html(random_source); 
                        }  
                    });
                });
            </script>
            <input type="hidden" name="keyword" id="keyword" value="<%=keyWord%>"/>
            <input type="hidden" name="parent_id" id="parent_id" value="<%=parent_id%>"/>
            <input type="hidden" name="field" id="field" value="<%=field%>"/>
            <%if !session[:uType].blank? && session[:uType] == "buyer" %>
				<%=render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Result for #{keyWord}"}%>
			<%else -%>
				<%=render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Result for #{keyWord}"}%>
			<%end -%>
            <div align="center" data-role="content" id="catalog_list_accordion"> 
            </div>
        </div>
    </body>
</html>
<style>
    .ui-grid-a{
        border: 1px solid;
        border-radius: 10px;
        margin-top: 1%;
        margin-left: -3%;
    }

    .post_req{
        background: grey;
        border: 1px solid grey;
        border-radius: 10px;
        padding: 2px 5px 2px 4px;
        float: left;
        margin: 0% 40%;
    }
</style>
